### CodeBlocks ###
*.layout
*.depend
*.bak
*.res
*.tmp
*.wbk
*.o
*.7z

# generated directories
#WSpace/Dev/*.exe
WSpace/Dev/Lib/
WSpace/Dev/Obj/

# Windows shortcuts
*.lnk
#*.exe

# другие рабочие файлы
*.что
