
// Вычислительная гидромеханика и морские исследования

#include <windows.h>

Ani ICON "..\\Graphics\\ICO\\Wealth.ico"

1 VERSIONINFO
FILEVERSION 13,4,3,2
PRODUCTVERSION 15,4,2,0
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "00000001"
        BEGIN
            VALUE "CompanyName", "Russian Geographical Society"
            VALUE "FileVersion", "2010-10-20"
            VALUE "FileDescription", "LongWave Simulations"
            VALUE "InternalName", "Computational Fluid Mechanics"
            VALUE "LegalCopyright", "(c)1986-2010 Vasily Khramushin"
            VALUE "LegalTrademarks", "SPbU"
            VALUE "OriginalFilename", "Ani.c++"
            VALUE "ProductName", "Ocean simulation"
            VALUE "ProductVersion", "13.04"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1251
    END
END
